
#options_css_tag  { content: "options_css (231013:18h:05)"; }
html {
    min-width : fit-content;
/*{{{
    min-height: fit-content;
    overflow  : auto;
}}}*/
}
body /*{{{*/
{
/*{{{
    background       : linear-gradient(to top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%) !important;
    background       : linear-gradient(to bottom, #fff 0%, #fff 10%, #bbb 21%, #fff 22%, #fff 100%);
    background       : linear-gradient(to top, #000 0%, #444 100%) !important;
    background       : linear-gradient(to top, #fff 0%, #888 40%, #aaa 100%) !important;
    background       : linear-gradient(to bottom, #fff 0%, #fff 10%, #bbb 21%, #fff 22%, #fff 100%);
    background-color : #222;
    color            : #DDD;
    }}}*/
    color              : #55A;
    background         : linear-gradient(to bottom, #fff 0%, #AAA 19.5%, #000 20%, #444 20.5%, #222 32%, #888 100%);

    overflow           : hidden;
    display            : grid;
    grid-template-rows : 1fr 4fr;
}
/*}}}*/

.note /*{{{*/
{
    font-style:italic;
    color: #AAA;
}
/*}}}*/
.cb_filled_pin /*{{{*/
{
opacity: .8; 
}
/*}}}*/

button /*{{{*/
{
    width:50%;
    margin:1em;
}
/*}}}*/
#BUTTONS_DIV /*{{{*/
{
    user-select : none;
    font-weight : 900;
    font-size   : 80%;
}
/*}}}*/
.on_hold /*{{{*/
{
    transform           : scale(.8);
    opacity             : .1;
    transition-duration : 3000ms;
    transition-property : all;
}
/*}}}*/
.on_standby /*{{{*/
{
    opacity             : 1;
}
/*}}}*/

#OPTIONS_TAG_DIV /*{{{*/
{
 z-index            : 2;
 position           : absolute; top: 0.5em; right: 0.5em;
 font-style         : italic;
}
/*}}}*/
#OPTIONS_TAG_DIV>span /*{{{*/
{
    margin-right    :  1em;
    font-size       :  80%;
    font-weight     :  900;
    color           : #BBB;
}
/*}}}*/
#statusline /*{{{*/
{
    position         : absolute;
    top              : 1.5em;
    right            : 0.5em;
    margin           : 0;

    border-radius    : 1em;
    box-shadow       : 0 2px 3px rgba(0,0,0,0.3) inset;
/*{{{
    width            : 16em;
}}}*/

    padding-left     : 0.3em;
    text-align       : center;
    min-width        : 36ch;

    font-size        : 15px;
    font-weight      : 900;
    font-family      : monospace;

    z-index          : 1;
    background-color : rgba(255,000,000,0.2);
    color            : red;
}
/*}}}*/
#FILTER_TEXTAREA /*{{{*/
{
    display          : none;
/*{{{
}}}*/
/*{{{
    margin-top       :  1em;
}}}*/
    width            : 75em;
    height           : 30em;
    background-color : #DDF;
    font-size        : 12px;
    font-weight      :  900;
    font-family      : monospace;
}
/*}}}*/
/* LOG_MAP_DIV {{{*/
#LOG_MAP_DIV
{
    user-select      : none;
/*{{{
    margin-top       :  1em;
}}}*/
    width            : 85em;
    height           : 30em;
    font-size        : 12px;
    font-weight      :  900;
    font-family      : monospace;
/*
    background       : linear-gradient(to bottom, #000 0%, #444 100%) !important;
*/
    background       : linear-gradient(to bottom, #444 0%, #000 20%, #444 80%, #000 100%) !important;

    text-shadow      : rgba(170,255,255,0.8) 1px 1px 0px;
}

#LOG_MAP_DIV>div
{
/*
    display          : flex;
    align-content    : center;
    align-self       : center;
    flex-grow        : 1;
    justify-content  : center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
*/
}

/*}}}*/
/* GRID ● LOG_MAP_DIV ● LOG_MAP_DIV_LEFT ● LOGGING_DIV_RIGHT {{{*/
#LOG_MAP_DIV {
                  display: grid;
    grid-template-columns: 5fr 1fr; /* LOG_MAP [background_js options_js popup_js] ● logging [bg_xxx_js] */
                 grid-gap: 0.2em;
            align-content: space-around;
            align-items  : start;
            justify-items: center;
}
#LOG_MAP_DIV_LEFT>div>div {
    vertical-align: middle;
}

#LOG_MAP_DIV_LEFT       { grid-column: 1; }
#LOGGING_DIV_RIGHT      { grid-column: 2; }

#LOGGING_DIV_RIGHT .box { margin-left: 0.5em; }

#LOGGING_DIV_RIGHT {
    display              : grid;
    grid-template-columns: min-content min-content;

    font-size            :   65%;
    margin               : 1.0em;
    padding              : 1.5em 0.5em 0.5em 0.5em;
/*
    background-color     : rgba(128,128,128,0.1);
    justify-self         : auto;
    justify-items        : center;
    justify-content      : space-evenly;
*/
 box-shadow: inset 0px 0px 2px 3px rgba(128,128,128,0.5);
    background-color     : #202020;
}
#LOGGING_DIV_RIGHT:before { position: absolute; margin: -0.7em 5em; content: "logging"; }

/*}}}*/
