
#options_css_tag  { content: "options_css (230507:17h:00)"; }
body /*{{{*/
{
/*
    background       : linear-gradient(to top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%) !important;
    background       : linear-gradient(to bottom, #fff 0%, #fff 10%, #bbb 21%, #fff 22%, #fff 100%);
    background       : linear-gradient(to top, #000 0%, #444 100%) !important;
    background       : linear-gradient(to top, #fff 0%, #888 40%, #aaa 100%) !important;
    background       : linear-gradient(to bottom, #fff 0%, #fff 10%, #bbb 21%, #fff 22%, #fff 100%);
    background-color : #222;
    color            : #DDD;
*/
    color            : #55A;
    background       : linear-gradient(to bottom, #fff 0%, #AAA 19.5%, #000 20%, #444 20.5%, #222 32%, #888 100%);
}
/*}}}*/

.note /*{{{*/
{
    font-style:italic;
    color: #AAA;
}
/*}}}*/
.cb_filled_pin /*{{{*/
{
opacity: .8; 
}
/*}}}*/

button /*{{{*/
{
    width:50%;
    margin:1em;
}
/*}}}*/
#div_buttons /*{{{*/
{
    user-select : none;
    font-weight : 900;
    font-size   : 80%;
}
/*}}}*/
.on_hold /*{{{*/
{
    transform           : scale(.5);
    opacity             : .1;
    transition-duration : 3000ms;
    transition-property : all;
}
/*}}}*/
.on_standby /*{{{*/
{
    opacity             : 1;
}
/*}}}*/

#statusline /*{{{*/
{
    position         : absolute;
    top              : 1.5em;
    right            : 0.5em;
    margin           : 0;

    border-radius    : 1em;
    box-shadow       : 0 2px 3px rgba(0,0,0,0.3) inset;
    width            : 20em;

    padding-left     : 0.3em;
    text-align       : center;
    min-width        : 50ch;

    font-size        : 15px;
    font-weight      : 900;
    font-family      : monospace;

    z-index          : 1;
    background-color : rgba(255,000,000,0.2);
    color            : red;
}
/*}}}*/
#FILTER_TEXTAREA /*{{{*/
{
    display          : none;
    margin-top       :  1em;
    width            : 75em;
    height           : 25em;
    background-color : #DDF;
    font-size        : 12px;
    font-weight      :  900;
    font-family      : monospace;
}
/*}}}*/
#LOG_MAP_DIV /*{{{*/
{
    user-select      : none;
    margin-top       :  1em;
/*{{{
    display          : none;
}}}*/
    width            : 85em;
    height           : 30em;
    font-size        : 12px;
    font-weight      :  900;
    font-family      : monospace;
/*
    background       : linear-gradient(to bottom, #000 0%, #444 100%) !important;
*/
    background       : linear-gradient(to bottom, #444 0%, #000 20%, #444 80%, #000 100%) !important;
}
/*}}}*/
#LOG_MAP_DIV>div /*{{{*/
{
/*
    display          : flex;
    align-content    : center;
    align-self       : center;
    flex-grow        : 1;
    justify-content  : center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
*/
}
/*}}}*/
