
#popup_css_tag  { content: "popup_css (231006:19h:36)"; }

body { /*{{{*/
    padding        : 0.5em;
    background     : #000;
    color          : #DDD;
/*
    margin         : 0.5em;
    border         : 0.5em solid #888;
    margin         : 0.5em;
    border-radius  : 1em;
    box-shadow     : 0 0 10px #000000 inset;
*/
    white-space    : nowrap;
}
/*}}}*/
h1 { /*{{{*/
font-size: 15px;
}
/*}}}*/
hr { /*{{{*/
    background-color : rgba(64, 64, 64, 0.9);
    height           : 0.5em;
    border           : none;
}
/*}}}*/
em { /*{{{*/
    border-radius  : 0.3em;
    padding        : 0.1em;
}
/*}}}*/

 body.dark       { background     : rgba( 16,16, 16, 1); }
 body.light      { background     : rgba(255,16, 16, 1); }

.popup_div.dark  { background     : rgba( 16,16,128,.8); }
.popup_div.light { background     : rgba(255,16,128,.8); }

.cursive         { font-family    : cursive   !important; }
.monospace       { font-family    : monospace !important; }
.initial         { font-family    : initial;                    }

.popup_div { /*{{{*/
    border         : 5px solid #422;
    border-radius  : 1em 1em 1em 1em;
    background     : rgba(16,16,16,.9);
    box-shadow     : 0 0 10px #000000 inset;
    margin         : 0.1em;
    padding        : 0.1em 0.1em 0.5em 0.1em;
    font-weight    : 900;
    text-align     : center;
}
/*}}}*/
.popup_div * { font-size: 8px; }
.popup_div hr { margin: 1em 1em 1em 1em; }

#color_badge_container>em {
    user-select    : none;
    cursor         : pointer;
    box-shadow     : rgba(0, 0, 0, 0.3) 0 0.3em 0.3em inset;
}
.selected {
    outline:2px solid orange;
}

/* .cc1 .. .cc0 {{{*/
.cc1 { color: #FFF; background-color:#964B00; }
.cc2 { color: #FFF; background-color:#FF0000; }
.cc3 { color: #000; background-color:#FFA500; }
.cc4 { color: #000; background-color:#FFFF00; }
.cc5 { color: #000; background-color:#9ACD32; }
.cc6 { color: #000; background-color:#6495ED; }
.cc7 { color: #000; background-color:#EE82EE; }
.cc8 { color: #000; background-color:#A0A0A0; }
.cc9 { color: #000; background-color:#FFFFFF; }
.cc0 { color: #000; background-color:#808080; font-weight:bold; }
/*}}}*/

#p_status {
    margin           :        0.5em auto;
    white-space      :          pre-wrap;
    text-align       :              left;
    transition       : all ease-in 250ms;
}
.collapsed {                                      /* tooltip on a single blank line */
    color            :    transparent !important; /* has to override message.type */
    max-height       :          1.5em !important; /* error, pending, answer       */
    border           : 1px solid rgba(136,136,136,0.3);
    border-radius    :          0.5em;
    cursor           :           help;
}

#p_error {
    width            :    "100%";
    height           :    "100%";
    font-size        :    "300%";
    color            : "#FF00FF";
    text-align       :  "center";
}
#reload_button {
    margin           : 0 0.5em;
    border-radius    : 1em;
    border           : 1px outset white;
    padding          : 0.2em 0.5em;
    text-align       :  "center";
}
#logging_label {
    cursor           : pointer;
    vertical-align   : super;
/*
    border-radius    : 1em;
    border           : 1px solid #888;
    padding          : 0.2em 0.5em;
    background-color : #000000;
*/
}
#close_span {
   position    : absolute; top:0.5em; right:0.5em;
   cursor      : pointer;
   line-height : 0.8em;
   font-size   : 16px;
   border      : 1px solid #444;
   padding     : 0.5em;
}
